django==5.2.8
gunicorn==23.0.0
whitenoise==6.11.0
dj-database-url==2.1.0
psycopg2-binary==2.9.10
python-dotenv==1.2.1
requests==2.32.5
cerebras_cloud_sdk==1.64.1
pillow==12.0.0
sqlparse==0.5.4

asgiref==3.11.0

cloudinary
django-cloudinary-storage
sentence-transformers
pgvector